@page
@model NASH1.Pages.Checkout.KFCCheckoutPageModel
@{
}

<h1 class="mainTitle">
    This is your food order
</h1>
<h2 class="mainSubTitle">
    Your driver is on the way, please be patient
</h2>
<table class="table">
    <tr><th>Name</th><th>Tel</th><td>Email</td><td>Address</td></tr>
    <tr><td>@Model.Name</td><td>@Model.Tel</td><td>@Model.Email</td><td>@Model.Address</td></tr>
</table>
<br />

<table class="table">
    <tr><th>FoodName</th><th>FoodAmount</th><td>Sub Total(RM)</td></tr>
    <tr><td>KFC Burger</td><td>@Model.KFCBurger</td><td>@Model.KFCBurgerSubPrice</td></tr>
    <tr><td>KFC Wedges</td><td>@Model.KFCWedges</td><td>@Model.KFCWedgesSubPrice</td></tr>
    <tr><td>KFC Chicken</td><td>@Model.KFCChicken</td><td>@Model.KFCChickenSubPrice</td></tr>
    <tr><td>Total Price(RM)</td><td></td><td>@Model.FoodPrice</td></tr>
</table>


